# Data Pre-processing

In [1]:
import pandas as pd
import numpy as np
import holidays
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import LabelEncoder

In [13]:
# Reading dataset
train_store = pd.read_csv('../data/train_store.csv', na_values=['?', None])
test_store = pd.read_csv('../data/test_store.csv', na_values=['?', None])

In [14]:
# Checking dataset brief (train)
train_store.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,Not Available,Not Available,Not Available
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,Not Available,Not Available,Not Available
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,Not Available,Not Available,Not Available

In [15]:
# Checking dataset brief (test)
test_store.head()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,Not Available,Not Available,Not Available
1,2,3,4,2015-09-17,1.0,1,0,0,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,3,7,4,2015-09-17,1.0,1,0,0,a,c,24000.0,4.0,2013.0,0,Not Available,Not Available,Not Available
3,4,8,4,2015-09-17,1.0,1,0,0,a,a,7520.0,10.0,2014.0,0,Not Available,Not Available,Not Available
4,5,9,4,2015-09-17,1.0,1,0,0,a,c,2030.0,8.0,2000.0,0,Not Available,Not Available,Not Available

In [16]:
# Checking dataset brief (train)
train_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990515 entries, 0 to 990514
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Store                      990515 non-null  int64
 1   DayOfWeek                  990515 non-null  int64
 2   Date                       990515 non-null  object
 3   Sales                      990515 non-null  int64
 4   Customers                  990515 non-null  int64
 5   Open                       990515 non-null  int64
 6   Promo                      990515 non-null  int64
 7   StateHoliday               990515 non-null  object
 8   SchoolHoliday              990515 non-null  int64
 9   StoreType                  990515 non-null  object
 10  Assortment                 990515 non-null  object
 11  CompetitionDistance        990515 non-null  float64
 12  CompetitionOpenSinceMonth  990515 non-null  object
 13  CompetitionOpenSinceYear   990515 non-null  object
 14  Promo2                     990515 non-null  int64
 15  Promo2SinceWeek            990515 non-null  object
 16  Promo2SinceYear            990515 non-null  object
 17  PromoInterval              990515 non-null  object
dtypes: float64(1), int64(8), object(9)
memory usage: 136.0+ MB

In [17]:
# Checking dataset brief (test)
test_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Id                         41088 non-null  int64
 1   Store                      41088 non-null  int64
 2   DayOfWeek                  41088 non-null  int64
 3   Date                       41088 non-null  object
 4   Open                       41088 non-null  float64
 5   Promo                      41088 non-null  int64
 6   StateHoliday               41088 non-null  object
 7   SchoolHoliday              41088 non-null  int64
 8   StoreType                  41088 non-null  object
 9   Assortment                 41088 non-null  object
 10  CompetitionDistance        41088 non-null  float64
 11  CompetitionOpenSinceMonth  41088 non-null  object
 12  CompetitionOpenSinceYear   41088 non-null  object
 13  Promo2                     41088 non-null  int64
 14  Promo2SinceWeek            41088 non-null  object
 15  Promo2SinceYear            41088 non-null  object
 16  PromoInterval              41088 non-null  object
dtypes: float64(2), int64(6), object(9)
memory usage: 5.3+ MB

### Non-numeric to numeric

In [18]:
# Checking non-numeric columns (train)
train_store.applymap(np.isreal)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,True,True,False,True,True,True,True,True,True,False,False,True,False,False,True,False,False,False
1,True,True,False,True,True,True,True,True,True,False,False,True,False,False,True,False,False,False
2,True,True,False,True,True,True,True,True,True,False,False,True,False,False,True,False,False,False
3,True,True,False,True,True,True,True,True,True,False,False,True,False,False,True,False,False,False
4,True,True,False,True,True,True,True,True,True,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990510,True,True,False,True,True,True,True,False,True,False,False,True,False,False,True,False,False,False
990511,True,True,False,True,True,True,True,False,True,False,False,True,False,False,True,False,False,False
990512,True,True,False,True,True,True,True,False,True,False,False,True,False,False,True,False,False,False
990513,True,True,False,True,True,True,True,False,True,False,False,True,False,False,True,False,False,False
990514,True,True,False,True,True,True,True,False,True,False,False,True,False,False,True,False,False,False

In [19]:
# Checking non-numeric columns (test)
test_store.applymap(np.isreal)

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,True,True,True,False,True,True,False,True,False,False,True,False,False,True,False,False,False
1,True,True,True,False,True,True,False,True,False,False,True,False,False,True,False,False,False
2,True,True,True,False,True,True,False,True,False,False,True,False,False,True,False,False,False
3,True,True,True,False,True,True,False,True,False,False,True,False,False,True,False,False,False
4,True,True,True,False,True,True,False,True,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,True,True,True,False,True,True,True,True,False,False,True,False,False,True,False,False,False
41084,True,True,True,False,True,True,True,True,False,False,True,False,False,True,False,False,False
41085,True,True,True,False,True,True,True,True,False,False,True,False,False,True,False,False,False
41086,True,True,True,False,True,True,True,True,False,False,True,False,False,True,False,False,False
41087,True,True,True,False,True,True,True,True,False,False,True,False,False,True,False,False,False

##### Now that we ave determined that both datasets have non-numeric columns, we will do a conversion on both.

In [60]:
# Converting StateHoliday column into float (train)
train_store['StateHoliday'] = pd.to_numeric(train_store['StateHoliday'], errors='coerce')

# Converting StateHoliday column into float (test)
test_store['StateHoliday'] = pd.to_numeric(test_store['StateHoliday'], errors='coerce')

In [54]:
# Converting non-numeric columns to numeric (train)
enc = LabelEncoder()
enc.fit(train_store['Date'])
train_store['Date'] = enc.transform(train_store['Date'])

enc = LabelEncoder()
enc.fit(train_store['CompetitionDistance'])
train_store['CompetitionDistance'] = enc.transform(train_store['CompetitionDistance'])

enc = LabelEncoder()
enc.fit(train_store['StoreType'])
train_store['StoreType'] = enc.transform(train_store['StoreType'])

enc = LabelEncoder()
enc.fit(train_store['Assortment'])
train_store['Assortment'] = enc.transform(train_store['Assortment'])

enc = LabelEncoder()
enc.fit(train_store['CompetitionOpenSinceMonth'])
train_store['CompetitionOpenSinceMonth'] = enc.transform(train_store['CompetitionOpenSinceMonth'])

enc = LabelEncoder()
enc.fit(train_store['CompetitionOpenSinceYear'])
train_store['CompetitionOpenSinceYear'] = enc.transform(train_store['CompetitionOpenSinceYear'])

enc = LabelEncoder()
enc.fit(train_store['Promo2SinceWeek'])
train_store['Promo2SinceWeek'] = enc.transform(train_store['Promo2SinceWeek'])

enc = LabelEncoder()
enc.fit(train_store['Promo2SinceYear'])
train_store['Promo2SinceYear'] = enc.transform(train_store['Promo2SinceYear'])

enc = LabelEncoder()
enc.fit(train_store['PromoInterval'])
train_store['PromoInterval'] = enc.transform(train_store['PromoInterval'])

enc = LabelEncoder()
enc.fit(train_store['StateHoliday'])
train_store['StateHoliday'] = enc.transform(train_store['StateHoliday'])

In [56]:
# Confirming all numeric columns (train)
train_store.applymap(np.isreal)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990510,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
990511,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
990512,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
990513,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
990514,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [61]:
# Converting non-numeric columns to numeric (test)
enc = LabelEncoder()
enc.fit(test_store['Date'])
test_store['Date'] = enc.transform(test_store['Date'])

enc = LabelEncoder()
enc.fit(test_store['Open'])
test_store['Open'] = enc.transform(test_store['Open'])

enc = LabelEncoder()
enc.fit(test_store['StateHoliday'])
test_store['StateHoliday'] = enc.transform(test_store['StateHoliday'])

enc = LabelEncoder()
enc.fit(test_store['StoreType'])
test_store['StoreType'] = enc.transform(test_store['StoreType'])

enc = LabelEncoder()
enc.fit(test_store['Assortment'])
test_store['Assortment'] = enc.transform(test_store['Assortment'])

enc = LabelEncoder()
enc.fit(test_store['CompetitionDistance'])
test_store['CompetitionDistance'] = enc.transform(test_store['CompetitionDistance'])

enc = LabelEncoder()
enc.fit(test_store['CompetitionOpenSinceMonth'])
test_store['CompetitionOpenSinceMonth'] = enc.transform(test_store['CompetitionOpenSinceMonth'])

enc = LabelEncoder()
enc.fit(test_store['CompetitionOpenSinceYear'])
test_store['CompetitionOpenSinceYear'] = enc.transform(test_store['CompetitionOpenSinceYear'])

enc = LabelEncoder()
enc.fit(test_store['Promo2SinceWeek'])
test_store['Promo2SinceWeek'] = enc.transform(test_store['Promo2SinceWeek'])

enc = LabelEncoder()
enc.fit(test_store['Promo2SinceYear'])
test_store['Promo2SinceYear'] = enc.transform(test_store['Promo2SinceYear'])

enc = LabelEncoder()
enc.fit(test_store['PromoInterval'])
test_store['PromoInterval'] = enc.transform(test_store['PromoInterval'])

In [62]:
# Checking non-numeric columns (test)
test_store.applymap(np.isreal)

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
41084,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
41085,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
41086,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
41087,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

### Handling NaN values

In [65]:
# Checking for NaN values (train)
train_store.isnull().values.any()

False

In [66]:
# Checking for NaN values (test)
test_store.isnull().values.any()

False

##### There are no NaN values in both datasets